.config
.config.old

out/
scripts/basic/fixdep
scripts/kconfig/conf
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.lex.c
scripts/kconfig/zconf.tab.c
*.o.cmd

techpack/**/modules.builtin
techpack/modules.builtin

usr/.initramfs_data.cpio.d
usr/gen_init_cpio
usr/modules.builtin
usr/modules.order

virt/**/modules.builtin
virt/modules.builtin

*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.so.raw
*.lds
*.mod.c
*.order
*.builtin
*.symversions
*.tmp
*.gz
*.cpio
*.dtb

.*.cmd
.tmp_*
.version
.missing-syscalls.d

include/config/
include/generated/
arch/*/include/generated/

scripts/basic/bin2c
scripts/dtc/dtc
scripts/dtc/dtc-lexer.lex.c
scripts/dtc/dtc-parser.tab.*
scripts/genksyms/genksyms
scripts/genksyms/*.hash.c
scripts/genksyms/*.lex.c
scripts/genksyms/*.tab.*
scripts/kallsyms
scripts/mod/mk_elfconfig
scripts/mod/modpost
scripts/mod/elfconfig.h
scripts/mod/devicetable-offsets.h
scripts/pnmtologo
scripts/sortextable
scripts/selinux/genheaders/genheaders
scripts/selinux/mdp/mdp
usr/gen_init_cpio
usr/initramfs_data.cpio.gz
arch/arm/vdso/vdsomunge
